<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>

    <div class="overflow-hidden bg-white shadow sm:rounded-lg">
      <div class="px-4 py-5 sm:px-6 flex justify-between items-center">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Your Profile Information</h3>

        <a href="/settings" class="mt-1 mx-3 max-w-2xl text-sm text-gray-500">Edit</a>
      </div>


      <div class="border-t border-gray-200">
      <dl>
          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Full name</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <%- user.username%>
            </dd>
          </div>


          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Email address</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <%- user.email%>
            </dd>
          </div>


          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Password</dt>
            <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%- user.password%></dd>
          </div>


          <div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">Address</dt>
            <%if(!user.address){%>
              <dd class="mt-1 text-sm text-gray-300 sm:col-span-2 sm:mt-0">Not Information</dd>
              <%}else{%>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%- user.address%></dd>
                <%}%>
          </div>


          <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
            <dt class="text-sm font-medium text-gray-500">About</dt>
            <%if(!user.about){%>
              <dd class="mt-1 text-sm text-gray-300 sm:col-span-2 sm:mt-0">Not Information</dd>
              <%}else{%>
                <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0"><%-user.about%></dd>
                <%}%>
          </div>
        </dl>
      </div>
    </div>

    <section class="flex items-center justify-between py-2 mx-3"> 
      <div></div>
      <form action="/api/profile/delete/<%= user.UserID %>?_method=DELETE" method="post">
        <input type="submit" value="Delete" href="/settings" class="mt-1 mx-3 bg-red-500 text-white rounded px-2 py-1">
      </form>
    </section>



    <%- include('partials/footer.ejs')%>